.header__lang-links {
  padding: 0;
  margin: 46px 48px 0 0;
  list-style: none;
  display: grid;
  gap: 18px;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 768px) {
  .header__lang-links {
    margin-right: 24px;
  }
}

@media screen and (max-width: 320px) {
  .header__lang-links {
    margin-right: 16px;
    margin-top: 30px;
  }
}
